[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=1.5.3"
sqlalchemy = "~=1.4.46"
PyYAML  = "~=6.0"
psycopg2-binary = "~=2.9.5"
Faker = "~=16.6.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
